.vercel/
.next/
.claude/

.env*.local
node_modules/

docs/

# ========================================
# Agent & Editor
# ========================================
.plans/
.reports/
.codereview/
.docs/
.qoder
